@use "../../variables" as var;

.container {
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  align-items: center;
  background-color: var.$color_white;

  @media (min-width: 376px) {
    & {
      justify-content: center;
      width: 100vw;
      height: 100vh;
      padding-top: 0;
    }
  }
}
